<div id="entete">
	<p>From 01 to 05 april 2019, GBIF France is glad to welcome you at the National History Museum of Paris for the International Living Atlases workshop: how to improve data use with Atlas of Living Australia modules.</p>
	<p>&nbsp;</p>
	<p>Other Title proposition : </p>
	<ul>
		<li>"Prepare to wake up your data from ALA framework"</li>
		<li>"Wake up your data from ALA framework"</li>
		<li>"Awake and upgrade ALA's data"</li>
		<li>"Improve your data with ALA framework"</li>
	</ul>
	<p>&nbsp;</p>
</div>
