<div id="participants">
	<table>
		<tr><td><h3>Name of the representative</h3></td><td><h3>GBIF Participant represented</h3></td><td><h3>Role(s) in the project</h3></td></tr>
		<tr><td>Anders Telenius</td><td>GBIF Sweden</td><td>Co-coordinators</td></tr>
		<tr><td>Manash Shah</td><td>GBIF Sweden</td><td>Co-coordinators</td></tr>
		<tr><td>Cristina Villaverde</td><td>GBIF Spain</td><td>Co-coordinators</td></tr>
		<tr><td>Santiago Martinez de la Riva </td><td>GBIF Spain</td><td>Co-coordinators</td></tr>
		<tr><td>Katia Cezón</td><td>GBIF Spain</td><td>Co-coordinators</td></tr>
		<tr><td>David Martin</td><td>ALA</td><td>Co-coordinators</td></tr>
		<tr><td>Fabien Cavière</td><td>GBIF France</td><td>Co-coordinators</td></tr>
		<tr><td>Marie-Elise Lecoq</td><td>GBIF France</td><td>Co-coordinators</td></tr>
		<tr><td>Anne Bruneau</td><td>Canadensys</td><td>Co-coordinators</td></tr>
		<tr><td>Jérémy Goimard</td><td>Canadensys</td><td>Co-coordinators</td></tr>
		<tr><td>Rui Figueira</td><td>GBIF Portugal</td><td>Role(s) in the project</td></tr>
		<tr><td>Anabela Plos</td><td>GBIF Argentina</td><td>Role(s) in the project</td></tr>
		<tr><td>Leisy Amaya Montano</td><td>GBIF Chile</td><td>Role(s) in the project</td></tr>
		<tr><td>Jean Coss Ganglo</td><td>GBIF Benin</td><td>Role(s) in the project</td></tr>
		<tr><td>Pierre Radji </td><td>GBIF Togo</td><td>Role(s) in the project</td></tr>
	</table>
</div>